<div class="row">
  <div class="col-sm-12">
    <form id="static-form" method="post">
      <div class="form-group">
        <label for="text">Text Area</br></label>
        <textarea rows="3" cols="50" id="input" class="form-control" name="text" placeholder="Enter your text here..." value="{{phrase}}"></textarea>
      </div>
      <div class="form-group" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
      </div>  
      <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="is-palindrome">
	  <label>Palindromes</label>
        <ul>
        </ul>
      </div>
      <div class="not-palindrome">
	  <label>Not Palindromes</label>
        <ul> 
        </ul>
      </div>
    </form>
  </div>
</div>